.box {
    position: absolute;
    width: 100px;
    height: 100px;
    cursor: grab;
    border-radius: 10px;
}
svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
body {
    margin: 0;
    overflow: hidden;
}